{{#> "layouts/layout.hbs"}}

<button id="migrate">Migrate Old Data</button>
<button id="publishAll">Publish All Enduros</button>

<script type="module" src="/src/pages/admin.ts"></script>

{{/ "layouts/layout.hbs"}}
