{{#> "layouts/layout.hbs"}}

<style>
  nav {
    display: none;
  }
</style>
<link rel='stylesheet' href='/stylesheets/print_route_sheet.css' />

<div id="titles"></div>

<div class="routeSheetContainer" id="container"/>
<script type="module" src="/src/pages/enduroPrint.ts"></script>

{{/ "layouts/layout.hbs"}}
