{{#> "layouts/layout.hbs"}}
<div class="container">
  <h1>Enduro Roll Charts</h1>
  <p>This web site is dedicated to creating & printing
    <a href="https://www.southbayriders.com/forums/threads/118722/" target="_blank">Time Keeping Enduro</a>
    Route Sheets & JART Charts.

    It offers very similar functionality to <a
      href="http://www.softpedia.com/get/Others/Miscellaneous/Enduro-Roll-Chart.shtml" target="_blank">
      Windows Enduro Roll Chart</a> application which we recommend for offline use.
  </p>
  <p>
    If you have any feedback of suggestions <a href="mailto:enduro@photagonist.com" target="_blank">please email us</a>.
  </p>

  <h1>Latest Enduros</h1>
  <div id="enduros" />
</div>

<script type="module" src="/src/index.ts"></script>
{{/ "layouts/layout.hbs"}}